.countries {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.legendThreshold {
  font-size: 12px;
  font-family: sans-serif;
}

.caption {
  fill: #000;
  text-anchor: start;
  font-weight: bold;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 256px;
  height: 81px;
  padding: 2px;
  font: 12px sans-serif;
  background: grey;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
